.jumbotron{
    background-color: black;
}

.header-text{
    color:white;
}

.image{display: flex;
    height: 250px;
    width: 250px;
}

.horizontal-scrollable > .row { 
    overflow-x: auto; 
    white-space: nowrap; 
} 
      
.horizontal-scrollable > .row > .col-xs-4 { 
    display: inline-block; 
    float: none; 
} 