.header-primary { 
    nav{
        display: flex;
        justify-content: space-evenly;
        height: 50px;

        @include extra-small-only{
            text-align: center;
            display: inline-block;
        }
    }


    .header-text{
        flex-grow: 1;
        height: 50px;
    }


    
    #search{
        flex-grow: 2;
    }

   ul{
       list-style: none;

       @include extra-small-only{
               display: none;
        }
    }

    li{
        display: inline-flex;
    }
}