.media-primary{

    .image{
        display: flex;

        height: 150px;
        width: 150px;
        
        
        
        @include extra-small-only{
            flex-direction: column;
            align-items: center;
        }
    }
}