@mixin flexbox-display {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin flexfoot($index){
    -webkit-box-flex: $index;
    -moz-box-flex:  $index;
    -webkit-flex:  $index;
    -ms-flex:  $index;
    flex:  $index;
  }